In [23]:
import pandas as pd
import numpy as np
import random

In [24]:
pd.options.display.precision=1

In [25]:
#サンプルデータ作成
animals=['らくだ','らいおん','らくだ','しまうま']
df=pd.DataFrame({'なまえ':random.choices(animals,k=10000),
                 'とくてん':np.random.randint(55,86,10000)})
df.head()

    なまえ  とくてん
0   らくだ    81
1   らくだ    73
2  らいおん    72
3   らくだ    59
4  しまうま    62

In [26]:
#どうぶつたちの比率
df_summary=df.groupby('なまえ').agg({'とくてん':'count'}).reset_index().rename(columns={'とくてん':'データの数'})
df_summary['割合']=df_summary['データの数']/df_summary['データの数'].sum()
df_summary

    なまえ  データの数   割合
0  しまうま   2490  0.2
1  らいおん   2491  0.2
2   らくだ   5019  0.5

**単純無作為抽出**

In [37]:
df_01=df.sample(frac=0.01)
df_01.head()

       なまえ  とくてん
6066  らいおん    78
4143   らくだ    62
4701   らくだ    55
5904   らくだ    68
4335   らくだ    67

In [38]:
len(df_01)

100

In [39]:
#どうぶつたちの比率
df_01_summary=df.groupby('なまえ').agg({'とくてん':'count'}).reset_index().rename(columns={'とくてん':'データの数'})
df_01_summary['割合']=df_01_summary['データの数']/df_01_summary['データの数'].sum()
df_01_summary

    なまえ  データの数   割合
0  しまうま   2490  0.2
1  らいおん   2491  0.2
2   らくだ   5019  0.5

**層化抽出・比例配分法**

In [12]:
from sklearn.model_selection import train_test_split

_,df_02=train_test_split(df,test_size=0.01,stratify=df['なまえ'])
df_02.head()

       なまえ  とくてん
2426  しまうま    84
8263  しまうま    85
9863   らくだ    58
4859  らいおん    62
5845  らいおん    61

In [13]:
len(df_02)

100

In [36]:
#どうぶつたちの比率
df_02_summary=df.groupby('なまえ').agg({'とくてん':'count'}).reset_index().rename(columns={'とくてん':'データの数'})
df_02_summary['割合']=df_01_summary['データの数']/df_01_summary['データの数'].sum()
df_02_summary

    なまえ  データの数   割合
0  しまうま   2490  0.2
1  らいおん   2491  0.2
2   らくだ   5019  0.5